$color-primary: #1c2085;
$color-secondary: #38a5db;
$color-tertiary: #0f81ff;
$color-hover: #5454d4;
$color-form: #4250bf;
$color-footer: #263396;

$color-text: #45515f;
$color-text-light: #576677;

$color-white: #fafcfd;
$color-black: #011226;
$color-dark: #252b42;

$default-font-size: 18px;
