.social {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 684px;
  right: 96px;
  height: 92px;
  z-index: 10;

  @include respond(tab-land) {
    right: 16px;
  }

  &__btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
