.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 88px 0 55px;
  background-color: $color-dark;
  color: $color-white;

  @include respond(tab) {
    padding: 88px 16px 78px;
  }

  &__heading {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin-bottom: 26px;
  }

  &__text {
    max-width: 340px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 50px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    padding: 84px 41px 26px;
    background-color: $color-form;
    border-radius: 13px;

    @include respond(phone) {
      width: 100%;
      padding: 84px 16px 26px;
    }
  }

  &__input {
    margin-bottom: 24px;
  }

  &__checkbox-box {
    display: flex;
    align-items: center;
    margin-bottom: 37px;
  }

  &__label {
    font-size: 17px;
    line-height: 20px;
  }

  &__checkbox {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 8px;

    &:checked {
      background-color: $color-hover;
    }
  }

  &__btn {
    padding: 12px 28px;
  }
}
