.footer {
  position: relative;
  padding-bottom: 44px;
  background: linear-gradient(
    180deg,
    #fafbff 0%,
    #eff1f9 41.68%,
    #e9ecf6 49.59%,
    #ced3e8 93.91%
  );

  @include respond(tab) {
    background: $color-white;
    padding-bottom: 20px;
  }

  &__wrapper {
    padding-top: 40px;
    padding-bottom: 60px;

    @include respond(tab) {
      background: linear-gradient(
        180deg,
        #fafbff 0%,
        #eff1f9 41.68%,
        #e9ecf6 49.59%,
        #ced3e8 93.91%
      );
      padding-bottom: 32px;
    }

    @include respond(phone) {
      flex-direction: column;
      padding-top: 70px;
    }
  }

  &__logo {
    @include respond(phone) {
      position: absolute;
      left: 16px;
      top: 32px;
    }
  }
  &__contact-box {
    text-align: center;

    @include respond(phone) {
      margin-bottom: 40px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 19px;
    color: $color-footer;
    margin-bottom: 16px;
  }

  &__email {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: $color-tertiary;
  }

  &__btn {
    padding: 12px 37px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }

  &__nav {
    margin: 0 auto;
    max-width: 810px;
    color: $color-text;

    @include respond(tab) {
      padding-top: 16px;
    }
  }
}
