.header {
  min-height: 908px;
  position: relative;
  display: flex;
  background-image: url(../img/mask.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  overflow: hidden;
  z-index: 3;

  @include respond(tab-land) {
    background-position: left top;
    background-size: auto;
  }

  @include respond(tab-land) {
    min-height: 700px;
  }

  &::before {
    content: '';
    position: absolute;
    width: 1264px;
    height: 617px;
    background-image: url(../img/shape1.svg);
    background-repeat: no-repeat;
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    width: 694px;
    height: 829px;
    background-image: url(../img/shape2.svg);
    background-repeat: no-repeat;
    z-index: 1;

    @include respond(phone) {
      bottom: 20%;
      right: 0;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 175px 40px 0 137px;
    z-index: 4;

    @include respond(desktop) {
      flex: 1 0 auto;
      justify-content: space-around;
    }

    @include respond(tab-land) {
      flex-direction: column;
      padding: 175px 0 0;
      margin: 0 auto;
    }

    @include respond(phone) {
      padding: 128px 16px 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 570px;
    padding-top: 80px;
    color: $color-white;

    @include respond(tab-land) {
      margin-bottom: 345px;
      padding-top: 0;
    }

    @include respond(phone) {
      width: auto;
      margin-bottom: 142px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 60px;
      height: 60px;
      right: 0;
      bottom: -125px;
      background-image: url(../img/arrow.svg);
      z-index: 4;

      @include respond(tab-land) {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    margin-bottom: 74px;

    @include respond(phone) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__subscribe {
    position: relative;
  }

  &__btn {
    position: absolute;
    right: 0;
    padding: 11px 37px;
    z-index: 4;

    @include respond(phone) {
      position: static;
      width: 100%;
      margin-top: 16px;
    }
  }

  &__label {
    display: block;
    line-height: 26px;
    margin-bottom: 18px;
    opacity: 0.7;

    @include respond(phone) {
      font-size: 14px;
      line-height: 26px;
    }
  }

  &__video {
    margin: 22px;
    max-width: 544px;
  }
}
