.header {
  min-height: 908px;
  position: relative;
  display: flex;
  background-image: url(../img/mask.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  overflow: hidden;
  z-index: 3;

  &::before {
    content: '';
    position: absolute;
    width: 1264px;
    height: 617px;
    background-image: url(../img/shape1.svg);
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    width: 694px;
    height: 829px;
    background-image: url(../img/shape2.svg);
    z-index: 1;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 175px 40px 0 137px;
    z-index: 4;

    @include respond(desktop) {
      flex: 1 0 auto;
      justify-content: space-around;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 570px;
    padding-top: 80px;
    color: $color-white;

    &::before {
      content: '';
      position: absolute;
      width: 60px;
      height: 60px;
      right: 0;
      bottom: -125px;
      // transform: translate(-50%, -50%);
      background-image: url(../img/arrow.svg);
      z-index: 4;
    }
  }

  &__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    margin-bottom: 74px;
  }

  &__subscribe {
    position: relative;
  }

  &__btn {
    position: absolute;
    right: 0;
    padding: 11px 37px;
    z-index: 4;
  }

  &__label {
    display: block;
    line-height: 26px;
    margin-bottom: 18px;
    opacity: 0.7;
  }

  &__video {
    margin: 22px;
    max-width: 544px;
  }
}
